
# Ignore the virtual environment
venv/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore environment variables
.env
# Ignore VS Code settings
.vscode/
# Ignore model files
nba_prediction/models/*.pkl
nba_prediction/models/*.h5
# Ignore log files
nba_prediction/logs/*.log

